<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.1.1" targetFramework="net45" />
  <package id="Akka.Persistence" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Persistence.Query" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Persistence.Query.Sql" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Persistence.Sql.Common" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Persistence.Sql.TestKit" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Persistence.TestKit" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Streams" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.Streams.TestKit" version="1.1.1.28-beta" targetFramework="net45" />
  <package id="Akka.TestKit" version="1.1.1" targetFramework="net45" />
  <package id="Akka.TestKit.Xunit2" version="1.1.1" targetFramework="net45" />
  <package id="FluentAssertions" version="4.6.3" targetFramework="net45" />
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Reactive.Streams" version="1.0.0-RC1" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="xunit" version="2.1.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.1.0" targetFramework="net45" />
  <package id="xunit.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net45" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net45" />
  <package id="xunit.runner.utility" version="2.1.0" targetFramework="net45" />
</packages>